$transparent: transparent;
$black: #000;
$white: #fff;
$primary: #CAA55E;
$blue-light: #6DC6DC;
$secondary: #2A3F77;
$grey: #4A4A49;
$grey-black: #666;
$text-color: #5E5E5E;
$text-blue-light: #8786A0;
$bg-body: #F0F0F0;
$red: red;